.flows.json.backup
[
    {
        "id": "2ac5ed59b103973f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "868e0cd51c90cbb0",
        "type": "function",
        "z": "2ac5ed59b103973f",
        "name": "function 1",
        "func": "const baseUrl = \"https://ideabiz.lk/\";\nconst apiKey = \"uGeJ3LUjwF3nECIL0KOtE0_Hx2wa:9MrlYxoAX_HAs66MER2IMgcVpFQa\";\nconst username = \"ShoutOutTest\";\nconst password = \"qwerty2023\";\n\nmsg.url = `${baseUrl}apicall/token`;\nmsg.method = \"POST\";\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Authorization\": `Basic ${Buffer.from(apiKey).toString('base64')}`\n};\n\nmsg.payload = `grant_type=password&username=${username}&password=${password}&scope=PRODUCTION`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 360,
        "wires": [
            [
                "73e52a0ce58b7db5"
            ]
        ]
    },
    {
        "id": "df4cc2a3d89267ea",
        "type": "http in",
        "z": "2ac5ed59b103973f",
        "name": "",
        "url": "/ideabiz/notif",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 940,
        "y": 820,
        "wires": [
            [
                "4af531bc88d1b21d"
            ]
        ]
    },
    {
        "id": "4af531bc88d1b21d",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 900,
        "wires": []
    },
    {
        "id": "03909aaafc3062d7",
        "type": "http in",
        "z": "2ac5ed59b103973f",
        "name": "",
        "url": "/ideabiz/smsresponse",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 630,
        "y": 820,
        "wires": [
            [
                "aaa92c1cbbd7e3c1"
            ]
        ]
    },
    {
        "id": "aaa92c1cbbd7e3c1",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 900,
        "wires": []
    },
    {
        "id": "6afca870b214548c",
        "type": "http in",
        "z": "2ac5ed59b103973f",
        "name": "",
        "url": "/ideabiz/subresponse",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 820,
        "wires": [
            [
                "a1108d90d7e5ac22"
            ]
        ]
    },
    {
        "id": "a1108d90d7e5ac22",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 900,
        "wires": []
    },
    {
        "id": "73e52a0ce58b7db5",
        "type": "http request",
        "z": "2ac5ed59b103973f",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "194d418d6d627dba"
            ]
        ]
    },
    {
        "id": "b62f945b0454ad6b",
        "type": "inject",
        "z": "2ac5ed59b103973f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "868e0cd51c90cbb0"
            ]
        ]
    },
    {
        "id": "33be6c56ab2be27f",
        "type": "function",
        "z": "2ac5ed59b103973f",
        "name": "function 2",
        "func": "const accessToken = flow.get(\"accessToken\");\n// const refreshToken = payload.refresh_token;\n// const scope = payload.scope;\n// const tokenType = payload.token_type;\n// const expiresIn = payload.expires_in;\n\n// // Store the information in a variable\n// const tokenInfo = {\n//     accessToken: accessToken,\n//     refreshToken: refreshToken,\n//     scope: scope,\n//     tokenType: tokenType,\n//     expiresIn: expiresIn\n// };\n\nconst baseUrl = \"https://ideabiz.lk/\";\nconst port = \"87719\";\nconst version = \"v3\";\nmsg.url = `${baseUrl}apicall/smsmessaging/${version}/outbound/${port}${port}/requests`;\nmsg.method = \"POST\";\n\nmsg.headers = {};\nmsg.headers[\"Authorization\"] = `Bearer ${accessToken}`;\n\nconst jsonPayload = {\n    \"outboundSMSMessageRequest\": {\n        \"address\": [\n            \"+ 94769455060\"\n        ],\n        \"senderAddress\": \"tel:+ 94766173344:87719\",\n        \"outboundSMSTextMessage\": {\n            \"message\": \"testing\"\n        },\n        \"clientCorrelator\": \"123456\",\n        \"receiptRequest\": {\n            \"notifyURL\": \"http://127.0.0.1:1883/ideabiz/smsresponse\",\n            \"callbackData\": \"Test Successful\"\n        },\n        \"senderName\": \"SHOUTOUT\"\n    }\n};\n\nmsg.payload = jsonPayload;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 360,
        "wires": [
            [
                "9d820f1775b96df2",
                "6e80e34927e180f5"
            ]
        ]
    },
    {
        "id": "6e80e34927e180f5",
        "type": "http request",
        "z": "2ac5ed59b103973f",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "c2f2f6288945fa83"
            ]
        ]
    },
    {
        "id": "c2f2f6288945fa83",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 400,
        "wires": []
    },
    {
        "id": "9d820f1775b96df2",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "935e568b8b465b8d",
        "type": "function",
        "z": "2ac5ed59b103973f",
        "name": "function 3",
        "func": "const baseUrl = \"https://ideabiz.lk/\";\nconst port = \"87719\";\nconst version = \"v3\";\nmsg.url = `${baseUrl}apicall/smsmessaging/${version}/outbound/${port}/requests`;\nmsg.method = \"POST\";\n\nmsg.headers = {};\nmsg.headers[\"Authorization\"] = `Bearer 8e8aa877-863a-3bb0-abe9-b2b8f505c190`;\n\nconst jsonPayload = {\n    \"outboundSMSMessageRequest\": {\n        \"address\": [\n            \"tel:94769455060\"\n        ],\n        \"senderAddress\": \"tel\",\n        \"outboundSMSTextMessage\": {\n            \"message\": \"testing\"\n        },\n        \"clientCorrelator\": \"123456\",\n        \"receiptRequest\": {\n            \"notifyURL\": \"http://127.0.0.1:1883/ideabiz/smsresponse\",\n            \"callbackData\": \"Test Successful\"\n        },\n        \"senderName\": \"SHOUTOUT\"\n    }\n};\n\nmsg.payload = jsonPayload;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 180,
        "wires": [
            [
                "454955bbf15dc676",
                "1e42975f2b75a2e2"
            ]
        ]
    },
    {
        "id": "454955bbf15dc676",
        "type": "http request",
        "z": "2ac5ed59b103973f",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 760,
        "y": 180,
        "wires": [
            [
                "ae2233d0f1ba4ee6"
            ]
        ]
    },
    {
        "id": "ae2233d0f1ba4ee6",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "1e42975f2b75a2e2",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "b2a2640a024c8774",
        "type": "inject",
        "z": "2ac5ed59b103973f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "935e568b8b465b8d"
            ]
        ]
    },
    {
        "id": "172ffcd47edf5bf2",
        "type": "function",
        "z": "2ac5ed59b103973f",
        "name": "function 4",
        "func": "const baseUrl = \"https://ideabiz.lk/\";\nconst version = \"v3\";\nconst endpoint = \"subscribe\";\nconst payload = JSON.parse(msg.payload);\nconst accessToken = payload.access_token;\nflow.set(\"accessToken\", accessToken);\n\nconst msisdn = \"+94766691500\";\n\nconst url = `${baseUrl}apicall/subscription/${version}/${endpoint}`;\n\nconst requestBody = {\n    \"method\": \"WEB\",\n    \"msisdn\": `tel:${msisdn}`,\n    \"serviceID\": \"34dafb2f-7129-4978-a72e-65dc5c48dd1c\",\n    \"receiptRequest\": {\n        \"notifyURL\": \"http://127.0.0.1:1883/ideabiz/smsresponse\",\n        \"callbackData\": \"Test Successful\"\n    }     \n};\n\n\nmsg.method = \"POST\";\nmsg.url = url;\nmsg.headers = {};\nmsg.headers[\"Authorization\"] = `Bearer ${accessToken}`;\nmsg.payload = JSON.stringify(requestBody);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 620,
        "wires": [
            [
                "210a5050cdbcd666",
                "ddd7706c5eb59d47"
            ]
        ]
    },
    {
        "id": "210a5050cdbcd666",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 640,
        "wires": []
    },
    {
        "id": "45728e28b4e0e38c",
        "type": "inject",
        "z": "2ac5ed59b103973f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 620,
        "wires": [
            [
                "172ffcd47edf5bf2"
            ]
        ]
    },
    {
        "id": "ddd7706c5eb59d47",
        "type": "http request",
        "z": "2ac5ed59b103973f",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 770,
        "y": 600,
        "wires": [
            [
                "b6e7c92aac8213cc",
                "33be6c56ab2be27f"
            ]
        ]
    },
    {
        "id": "b6e7c92aac8213cc",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 640,
        "wires": []
    },
    {
        "id": "194d418d6d627dba",
        "type": "function",
        "z": "2ac5ed59b103973f",
        "name": "function 5",
        "func": "const payload = JSON.parse(msg.payload);\nconst accessToken = payload.access_token;\n\n// Create a new object to hold the request payload\nconst requestPayload = {\n    method: \"WEB\",\n    msisdn: \"tel:+94769455060\" \n};\n\n// Assign the request payload to the msg object\nmsg.payload = {\n    request: requestPayload\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 720,
        "wires": [
            [
                "273c935c416988fc",
                "0780799b69220041"
            ]
        ]
    },
    {
        "id": "273c935c416988fc",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 760,
        "wires": []
    },
    {
        "id": "0780799b69220041",
        "type": "http request",
        "z": "2ac5ed59b103973f",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://ideabiz.lk/apicall/subscription/v3/subscribe",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "payload.access_token"
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 550,
        "y": 720,
        "wires": [
            [
                "d88e453faee76c28"
            ]
        ]
    },
    {
        "id": "d88e453faee76c28",
        "type": "debug",
        "z": "2ac5ed59b103973f",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 760,
        "wires": []
    }
]